/*Footer*/
footer {
  margin-top: 5rem;
}
i.fa.fa-github {
  margin-left: 15px;
  margin-top:5px;
  font-size: 3.5em;
  vertical-align: middle;
}
a.glyphicon.glyphicon-envelope {
  margin-left: 10px;
  margin-top:5px;
  font-size: 2.5em;
  top: 0.5em;
}
/* End Footer*/
body {
  padding-top:40px;
  font-family:New Times Roman;
  background-color:white;
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
  border-radius:25px;
}
h4{
  color:black;
}
#output{
  border-radius:25px;
  color:white;
  width:75%;
  padding-left: 10px;
  border-thickness:2px;
}
.submit{
  width:60%;
  padding:15px;
}
a {
  color:black;
  font-size:20px;
  border-radius:25px;
}
a:focus, a:hover {
    color: #23527c;
    text-decoration: underline;
}
.main{
  width:30%;
  margin-left:33%;
  padding: 15px;
  background-color:black;
  border-thickness:2px;
  border-radius:25px;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    padding-left: 13px;
    border: 1px solid black;
    margin: 13px;
    border-radius: 11px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button {
  margin:1%;
  border-radius:25px;
}
